<h2>
  Informações da atividade
</h2>

<p>
  <b>

    {{titulo}}
  </b>

</p>
<p>
  {{desc}}
</p>
<p>
  <b>
    Prioridade:

  </b>
  {{prioridade}}
</p>
<p>
  <b>
    Data de criação :
  </b>
  {{dataDeCriacao}}
</p>

<a href="/">Voltar</a>
|
<a href="/atividade/altera/{{chave}}">Alterar</a>
