<h2>
  Informações sobre a atividade
</h2>

<p>
  <b>

    {{titulo}}
  </b>

</p>
<p>
  {{desc}}
</p>
<p>
  <b>
    prioridade:

  </b>
  {{prioridade}}
</p>
<p>
  <b>
    Data de criação :
  </b>
  {{dataDeCriacao}}
</p>
<p>
  <b>
    atividade Executada :
  </b>

  {{#if executada}}
    Sim
  {{else}}
    Não
  {{/if}}
</p>
<a href="/">Voltar</a>