<nav class="navBack mb-4 p-3 w-100">
  <div class="row align-items-center">

    <div class="col-auto">
      <h1 class="m-0">Notas</h1>
    </div>

    <div class="col d-none d-lg-block">
      <div class="d-flex gap-3 align-items-center itens-gray">
        <a href="/"><i class="bi bi-house"></i> Home</a>
        <a href="/sobre"><i class="bi bi-info-square"></i> Sobre</a>
        <a href="/nota/cria"><i class="bi bi-envelope-plus"></i> Criar Nota</a>
        <a href="/nota/criaNotasTeste"><i class="bi bi-file-plus"></i>
          Criar Notas de Teste</a>

        <button
          class="btn btn-link text-decoration-none p-0 itens-gray"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#menuFiltro"
          style="color: grey;"
        >
          <i class="bi bi-funnel"></i>
          Filtro
        </button>

        <form action="/" method="POST" class="d-inline-block m-0">
          <div class="input-group p-0">

            {{#if campoEmpty}}
              <input
                type="text"
                class="form-control"
                placeholder="Pesquise"
                aria-label="Pesquise"
                aria-describedby="basic-addon2"
                id="pesquisa"
                name="pesquisa"
                value=""
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="submit"
                  name="btn_pesquisar"
                >
                  <i class="bi bi-search"></i>
                </button>
              </div>
            {{else}}
              <input
                type="text"
                class="form-control"
                placeholder="Pesquise"
                aria-label="Pesquise"
                aria-describedby="basic-addon2"
                id="pesquisa"
                name="pesquisa"
                value="{{entrada}}"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="submit"
                  name="btn_cancelar"
                >
                  <i class="bi bi-x-circle"></i>
                </button>
              </div>
            {{/if}}

          </div>
        </form>
      </div>
    </div>

    <div class="col text-end d-block d-lg-none">
      <button
        class="btn border-0 p-0 text-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menuResponsivo"
      >
        <i class="bi bi-justify fs-2"> </i>
      </button>
    </div>

  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="menuResponsivo">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Navegação</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas">
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column gap-3 itens-gray">
      <a href="/"> <i class="bi bi-house"> </i>Home</a>
      <a href="/sobre"> <i class="bi bi-info-square"> </i> Sobre</a>
      <a href="/nota/cria"> <i class="bi bi-envelope-plus"> </i>Criar Nota</a>
      <a href="/nota/criaNotasTeste">
        <i class="bi bi-file-plus"> </i>Criar Notas de Teste</a>
      <button
        class="btn btn-link text-start text-decoration-none p-0 itens-gray"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menuFiltro"
      >
        <i class="bi bi-funnel"></i>
        Filtro
      </button>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="menuFiltro">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><i class="bi bi-funnel-fill"></i>
      Filtro</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form action="/" method="POST">

      <div class="mb-4">
        <h6 class="display-6">Estado da Nota</h6>

        <div class="form-check">
          {{#if filtros.lida}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_lida"
              id="f_lida"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_lida"
              id="f_lida"
            />
          {{/if}}
          <label class="form-check-label" for="f_lida">Lidas</label>
        </div>

        <div class="form-check">
          {{#if filtros.naolida}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_naolida"
              id="f_naolida"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_naolida"
              id="f_naolida"
            />
          {{/if}}
          <label class="form-check-label" for="f_naolida">Não Lidas</label>
        </div>
      </div>

      <div class="mb-4">
        <h2 class="display-6">Importância da nota</h2>
        
        <div class="form-check">
          {{#if filtros.imp1}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp1"
              id="f_imp1"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp1"
              id="f_imp1"
            />
          {{/if}}
          <label class="form-check-label" for="f_imp1"> 1</label>
        </div>

        <div class="form-check">
          {{#if filtros.imp2}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp2"
              id="f_imp2"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp2"
              id="f_imp2"
            />
          {{/if}}
          <label class="form-check-label" for="f_imp2"> 2</label>
        </div>

        <div class="form-check">
          {{#if filtros.imp3}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp3"
              id="f_imp3"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp3"
              id="f_imp3"
            />
          {{/if}}
          <label class="form-check-label" for="f_imp3"> 3</label>
        </div>

        <div class="form-check">
          {{#if filtros.imp4}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp4"
              id="f_imp4"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp4"
              id="f_imp4"
            />
          {{/if}}
          <label class="form-check-label" for="f_imp4">4</label>
        </div>

        <div class="form-check">
          {{#if filtros.imp5}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp5"
              id="f_imp5"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="checkbox"
              name="filtro_imp5"
              id="f_imp5"
            />
          {{/if}}
          <label class="form-check-label" for="f_imp5">5</label>
        </div>
      </div>

      <button type="submit" name="btn_filtrar" class="btn btn-primary w-100">
        Aplicar Filtros
      </button>

      <button
        type="submit"
        name="btn_cancelar"
        class="btn btn-outline-secondary w-100 mt-2"
      >
        Limpar Filtros
      </button>

    </form>
  </div>
</div>

{{#if vazio}}
  <p>
    <b> <i>Ainda não tem nenhuma atividade cadastrada</i> </b>
  </p>

  <p>
    <a href="/nota/cria">Cadastre sua primeira atividade</a>
  </p>
{{else}}

  <div class="table-responsive border rounded">
    <table class="table table-hover align-middle m-0 text-center">

      <thead class="table-light fw-bold">
        <tr>
          <th
            scope="col"
            class="d-none d-lg-table-cell"
            style="width: 15%;"
          >Chave</th>
          <th scope="col" class="text-start text-md-center">Título</th>
          <th
            scope="col"
            class="d-none d-md-table-cell"
            style="width: 15%;"
          >Alterar Status</th>
        </tr>
      </thead>

      <tbody>
        {{#each notas}}
          <tr style="font-size: 14px;">
            {{#if this.lida}}
              <td style="text-align: center;">{{this.chave}}</td>
              <td>
                <a
                  href="/nota/consulta/{{this.chave}}"
                  class="limpo"
                >{{this.titulo}}</a>
              </td>

              <td style="text-align: center;">
                <a href="/nota/naolida/{{this.chave}}" class="limpo">
                  <i class="bi bi-envelope-fill"> </i>
                </a>
              </td>
            {{else}}
              <td style="text-align: center;"> <b>{{this.chave}}</b> </td>
              <td>
                <a href="/nota/consulta/{{this.chave}}" class="limpo">
                  <b>{{this.titulo}}</b>
                </a>
              </td>

              <td style="text-align: center;">
                <b>
                  <a href="/nota/lida/{{this.chave}}" class="limpo">
                    <i class="bi bi-envelope-open"> </i>
                  </a>
                </b>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>

    </table>
  </div>

{{/if}}